*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   box-sizing: border-box; 
}

#text{
   position: relative;
   left: 725px;
   top: 50px;
   font-family:'Times New Roman', Times, serif;
   font-size: 65px;
}

#homeBack{
   background-image: url(mockups/homeBackground3.jpg);
   background-size: 47.5%;
   height: 720px;
   background-repeat: no-repeat;
}

.homeButton1{
   background: rgb(29,253,252);
   background: linear-gradient(90deg, rgba(29,253,252,1) 0%, rgba(35,242,252,0.9010197829131653) 0%, rgba(29,88,253,0.8281906512605042) 100%, rgba(245,69,252,0.7917760854341737) 100%);
   height: 70px;
   width: 210px;
   border: none;
   position: fixed;
   left: 800px;
   top: 500px;
}

.homeButton2{
   background-color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   height: 70px;
   width: 210px;
   border: 2px solid black;
   position: fixed;
   left: 1100px;
   top: 500px;
}


label.logo{
   color: #ffffff;
   font-size: 40px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
}

nav{
   background: #003087; 
   height: 80px;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   float: right;
}

nav ul{
   float: right;
   margin-right: 125px;
}

nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 7px; 
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: 'Antipasto Pro', sans-serif;
    color: #a0a0a0;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 7px 13px;
}

nav ul li a::after{
   content: ""; 
   position: absolute;
   background-color: #ffffff;
   height: 2.5px;
   width: 0;
   left: 0;
   bottom: -7px;
   transition: 0.25s;
}

nav ul li a:hover{
    color: #ffffff;
}

nav ul li a:hover::after{
    width: 100%;
}
