
 /* Translate Page: Translation option designs*/
 .typeTranslate 
 {
     background-color: DodgerBlue;
     border: 1rem;
     margin: 1rem;
     color: white;
     padding: 1rem 1rem;
     font-size: 16px;
     border-radius: 20px;
     text-align: center;
     cursor: pointer;
 }
 .recordTranslate 
 {
     background-color: DodgerBlue;
     border: none;
     color: white;
     padding: 1rem 1rem;
     font-size: 16px;
     border-radius: 20px;
     cursor: pointer;
 }
  
  .typeTranslate:hover { /*Type to Translate colors*/
    background-color: #cbd1d5;
    color: DodgerBlue;
  }
  .recordTranslate:hover { /*Record to Translate colors*/
    background-color: #cbd1d5;
    color: #db3434;
  }
 
  /* END Translate Page: Translation option designs*/